{{define "nav"}}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/index">Myblog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            分类
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{range .Categories}}
                                <a class="dropdown-item" href="/index?categoryid={{.Id}}">{{.Name}}</a>
                            {{end}}
                        </div>
                    </li>
                    {{/*            <li class="nav-item">*/}}
                    {{/*                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>*/}}
                    {{/*            </li>*/}}
                </ul>
                {{/*        <form class="form-inline my-2 my-lg-0 search">*/}}
                {{/*            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">*/}}
                {{/*            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>*/}}
                {{/*        </form>*/}}

                {{if .IsLogin}}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <a class="btn btn-outline-primary" href="/category/create">创建分类</a>
                            </div>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-outline-primary" href="/topic/create">投稿</a>
                        </div>
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-outline-primary" href="/logout">注销</a>
                        </div>
                    </div>
                {{else}}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-outline-primary" href="/login">登录</a>
                        </div>
                    </div>
                {{end}}
            </div>
        </div>
    </nav>

{{end}}